@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-2xl text-secondary-black font-bold uppercase tracking-wide;
  }
}

@layer components {
  /* Typography */
  .h3-default {
    @apply text-xl text-secondary-black font-bold uppercase tracking-wide;
  }

  .new-product-label {
    @apply pb-4 text-sm font-semibold text-secondary-darkest tracking-1em;
  }

  .product-title {
    @apply mb-4 text-4xl font-semibold text-white uppercase sm:text-7xl md:w-3/4 xl:text-left;
  }

  .product-description {
    @apply w-3/5 m-auto mb-8 text-lg text-secondary-light sm:w-3/4 sm:text-xl md:w-7/12 md:m-0 md:mb-8 xl:text-left;
  }

  .checkout-heading {
    @apply my-6 text-lg font-semibold tracking-wide uppercase text-primary;
  }

  .section-title {
    @apply text-left h3-default text-2xl;
  }

  /* Buttons */
  .btn {
    @apply uppercase bg-primary py-2 px-4 text-white text-sm font-normal tracking-widest hover:bg-primary-light hover:text-secondary-black transition duration-300 ease-in-out py-3 px-6;
  }

  .btn-dark {
    @apply py-4 text-sm font-normal tracking-widest text-white transition duration-300 ease-in-out bg-secondary-black hover:bg-secondary-medium hover:text-white px-7;
  }

  .btn-outline {
    @apply bg-transparent px-7 py-4 text-base font-bold tracking-widest transition duration-300 ease-in-out border-solid border-1 border-secondary-black text-secondary-black hover:bg-primary;
  }

  /* Accessibility */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .visually-hidden:focus {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    color: #000;
    padding: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    z-index: 9999;
  }

  /* NAV */

  .nav-container {
    @apply px-4 py-5 mx-auto border-b border-secondary-medium max-w-7xl sm:px-6 lg:px-8 xl:px-0;
  }

  .nav-items {
    @apply flex items-center justify-between h-16;
  }

  .nav-menu {
    @apply relative flex items-center xl:hidden;
  }

  .nav-menu-button {
    @apply relative text-gray-300 hover:text-white;
  }

  .nav-menu-image {
    @apply w-6 h-6 transition-opacity duration-300 opacity-100 hover:opacity-0;
  }

  .nav-menu-image-hover {
    @apply absolute top-0 left-0 w-6 h-6 transition-opacity duration-300 opacity-0 hover:opacity-100;
  }

  .nav-logo-container {
    @apply flex flex-grow justify-center md:justify-start md:ml-10;
  }

  .navigation-container {
    @apply items-center justify-center hidden xl:flex md:justify-start;
  }

  .navigation-links {
    @apply px-3 py-2 text-sm font-bold tracking-widest text-white rounded-md hover:text-primary;
  }

  .nav-cart-button-container {
    @apply relative flex items-center;
  }

  .nav-cart-image {
    @apply w-6 h-6 transition-opacity duration-300 opacity-100 hover:opacity-0;
  }

  .nav-cart-image-hover {
    @apply absolute top-0 left-0 w-6 h-6 transition-opacity duration-300 opacity-0 hover:opacity-100;
  }

  .nav-mobile-menu {
    @apply px-2 pt-2 pb-3 space-y-1;
  }

  .nav-mobile-menu-links {
    @apply block px-3 py-2 text-base font-medium text-white rounded-md hover:bg-primary;
  }

  /* HOME PAGE */

  /* Hero Section */

  .hero-section {
    @apply bg-hero-bg-mobile bg-cover bg-bottom bg-black text-white py-20 px-4 h-fit xs:h-[40vh] sm:flex sm:items-center sm:justify-between sm:flex-col sm:bg-hero-bg-tablet md:h-[55vh] md:justify-center xl:bg-hero-bg-desktop xl:flex-row;
  }

  .hero-content {
    @apply mx-auto max-w-7xl xl:flex xl:w-full;
  }

  .hero-text-container {
    @apply flex flex-col items-center justify-center xl:justify-start xl:flex-col xl:items-start xl:w-1/2 xl:text-left xl:px-4;
  }

  .hero-new-product-label {
    @apply pb-4 text-sm font-semibold text-secondary-darkest tracking-1em;
  }

  .hero-product-title {
    @apply mb-4 text-4xl font-semibold text-white uppercase sm:text-5xl lg:text-7xl md:w-3/4 xl:text-left;
  }

  .hero-product-description {
    @apply w-4/5 m-auto mb-10 text-lg text-secondary-light sm:w-3/4 sm:text-xl md:w-7/12 md:m-0 md:mb-8 xl:text-left;
  }

  .hero-image {
    @apply xl:w-1/2 xl:h-full;
  }

  /* ZX9 Speaker Section */

  .zx9-speaker-section {
    @apply max-w-7xl rounded-default bg-primary bg-cover bg-speaker-bg-mobile bg-center text-white py-20 mx-3 sm:bg-[center_top_-6rem] md:bg-speaker-bg-tablet md:mx-10 xl:m-auto xl:flex xl:justify-center xl:items-center xl:bg-speaker-bg-desktop xl:bg-bottom xl:p-0;
  }

  .zx9-speaker-image-container {
    @apply sm:w-3/4 sm:m-auto sm:-mt-20 xl:w-3/5 xl:flex xl:flex-col xl:items-end xl:relative xl:overflow-hidden;
  }

  .zx9-speaker-image {
    @apply object-cover -mt-10 w-4/5 m-auto md:w-3/5 md:-mt-20 xl:w-4/5 xl:mt-0 xl:mt-auto xl:-mb-[5rem] xl:pt-[5.5rem];
  }

  .zx9-speaker-content {
    @apply xl:w-2/5 xl:justify-start xl:text-left xl:justify-self-start;
  }

  .zx9-speaker-title {
    @apply pb-4 text-5xl font-semibold tracking-widest text-white uppercase sm:text-5xl md:text-6xl md:w-1/2 md:m-auto md:mt-10 md:pb-0 xl:m-0 xl:mb-6;
  }

  .zx9-speaker-description {
    @apply w-4/5 m-auto mb-8 text-lg text-white md:w-1/2 md:my-8 lg:text-xl xl:m-0 xl:mb-8;
  }

  /* ZX7 Speaker Section */

  .zx7-speaker-section {
    @apply relative flex px-6 pb-20 m-auto mx-3 mt-8 bg-right-top bg-cover rounded-lg max-w-7xl bg-speaker-pic-mobile xs:bg-speaker-pic-tablet xs:bg-cover xs:bg-center h-96 md:mx-10 xl:m-auto xl:mt-10 xl:bg-speaker-pic-desktop;
  }

  .zx7-speaker-content {
    @apply absolute top-[30%] flex justify-start items-start flex-col md:ml-8 xl:ml-24 2xl:ml-0 2xl:p-20 2xl:top-14;
  }

  .zx7-speaker-title {
    @apply mb-8 text-3xl md:text-3xl font-bold tracking-widest text-black uppercase justify-start md:text-3xl;
  }

  /* Earphones Section */

  .earphones-section {
    @apply my-6 mx-3 max-w-7xl md:flex xl:justify-center xl:items-center xl:m-auto xl:my-8;
  }

  .earphone-image {
    @apply bg-earphone-mobile bg-cover bg-center flex rounded-default w-full pb-20 px-4 h-60 md:bg-earphone-tablet md:w-full md:ml-7 md:mr-2 md:h-[22rem] xl:mx-1 2xl:mx-0 2xl:mr-8;
  }

  .earphone-content-background {
    @apply mt-6 bg-secondary-darker flex rounded-default h-60 md:w-full md:ml-3 md:mt-0 md:mr-7 md:h-[22rem] xl:mx-auto xl:ml-6 2xl:mx-0;
  }

  .earphone-content {
    @apply w-full flex flex-col flex-wrap justify-center items-start pl-8 lg:ml-10 xl:ml-24;
  }

  .earphone-title {
    @apply mb-8 md:mb-10 text-3xl md:text-3xl font-bold tracking-widest text-black uppercase;
  }

  /* CATEGORIES CARDS */

  .category-section {
    @apply flex flex-col px-3 pt-10 pb-20 bg-white max-w-7xl sm:flex-row sm:pt-10 sm:w-full 
           sm:justify-between xl:m-auto;
  }

  .category-card {
    @apply relative flex flex-col w-full h-full mt-24 bg-secondary-darker rounded-default 
           sm:h-fit sm:mx-3 sm:first:ml-0 sm:last:mr-0 transition-transform duration-300 ease-in-out;
  }

  .card-content {
    @apply flex flex-col items-center;
  }

  .category-image {
    @apply absolute object-contain transition-transform duration-300 ease-in-out w-56 m-auto -translate-x-1/2 -top-16  left-1/2 lg:-top-16;
  }

  .category-image:hover {
    @apply transform scale-105;
  }

  .category-title {
    @apply mt-24 text-xl font-bold tracking-wide text-black;
  }

  .shop-link {
    @apply flex items-center justify-center px-6 py-3 mt-4 text-sm font-semibold tracking-wide 
           text-secondary-darkest group-hover:text-primary;
  }

  .shop-link:hover {
    @apply text-primary;
  }

  .shop-icon {
    @apply ml-1 text-xl font-semibold text-primary;
  }

  /* AUDIO GEAR*/

  .audio-gear-section {
    @apply pt-0 pb-20 mt-20 mx-3 bg-white max-w-7xl md:mx-10 xl:mt-32 xl:p-0 xl:flex xl:flex-row-reverse xl:my-16 xl:m-auto;
  }

  .audio-gear-image-container {
    @apply xl:flex xl:ml-auto;
  }

  .audio-gear-image {
    @apply w-auto mx-auto mb-10 rounded-default xl:ml-auto xl:mr-0;
  }

  .audio-gear-content-container {
    @apply xl:w-1/2 xl:flex xl:flex-col xl:justify-center xl:items-start xl:text-left;
  }

  .title {
    @apply mb-8 text-4xl font-bold tracking-wide text-secondary-black xl:text-5xl xl:w-4/5;
  }

  .highlight {
    @apply text-primary;
  }

  .audio-gear-description {
    @apply text-base px-4 md:w-4/5 md:m-auto xl:text-lg xl:m-0 xl:p-0;
  }

  /* PRODUCT PAGES */

  .product-page-section {
    @apply flex flex-col px-4 py-6 text-white bg-black;
  }

  .product-page-h1 {
    @apply text-2xl font-bold tracking-widest text-center sm:text-3xl sm:p-10;
  }

  .product-container-section {
    @apply max-w-7xl mx-6 lg:mx-auto bg-white pt-20 px-3 flex flex-col lg:flex-row lg:items-center xl:px-0;
  }

  .product-image-container {
    @apply w-full lg:w-1/2;
  }

  .product-image {
    @apply w-auto mx-auto mb-10 rounded-default 2xl:ml-auto 2xl:mr-0;
  }

  .product-content-h3 {
    @apply mt-6 text-sm font-normal tracking-1em text-primary;
  }

  .product-content-h2 {
    @apply py-6 text-2xl font-bold tracking-wide text-black sm:text-4xl lg:w-4/5;
  }

  .product-description {
    @apply text-sm font-normal tracking-wide text-secondary-darkest sm:w-4/5 sm:m-auto lg:m-0;
  }

  .product-button {
    @apply inline-flex items-center justify-center px-6 py-3 mx-auto my-6 text-sm font-semibold tracking-wide text-white transition duration-300 ease-in-out bg-primary hover:text-secondary-black hover:bg-primary-light;
  }

  /* CART MODAL */

  .cart-modal-overlay {
    @apply fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto bg-black bg-opacity-50;
  }

  .cart-modal-container {
    @apply w-full max-w-md md:absolute md:top-40 md:right-20;
  }

  .cart-modal {
    @apply relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg;
  }

  .close-button {
    @apply absolute text-4xl font-semibold leading-none top-2 right-4 hover:text-gray-600;
  }

  .cart-header {
    @apply flex items-start justify-between px-12 rounded-t pt-14;
  }

  .cart-title {
    @apply text-2xl font-semibold;
  }

  .remove-all-button {
    @apply text-gray-400 underline hover:text-primary;
  }

  .cart-items-container {
    @apply relative py-10 max-h-[60vh] overflow-y-auto flex w-full px-8;
  }

  .empty-cart-message {
    @apply flex justify-center text-xl;
  }

  .cart-items-list {
    @apply w-full space-y-10;
  }

  .cart-item {
    @apply flex items-center space-x-4;
  }

  .cart-item-image {
    @apply object-cover w-24 h-24 rounded-default;
  }

  .cart-item-details {
    @apply flex-grow;
  }

  .cart-item-name {
    @apply flex justify-start text-xl font-bold text-secondary-black;
  }

  .cart-item-price {
    @apply flex justify-start text-xl font-semibold tracking-wide text-gray-400;
  }

  .cart-item-quantity {
    @apply flex items-center justify-between p-1 w-28 bg-secondary-darker;
  }

  .cart-item-quantity-button {
    @apply px-2 py-1 text-xl rounded-l text-secondary-darkest;
  }

  .quantity-display {
    @apply px-2 py-1 text-xl font-semibold text-secondary-black;
  }

  .cart-summary {
    @apply p-8 rounded-b border-gray-200;
  }

  .total-container {
    @apply flex justify-between mb-4;
  }

  .total-label {
    @apply pb-6 text-lg;
  }

  .total-amount {
    @apply text-2xl font-extrabold text-secondary-black;
  }

  .checkout-button {
    @apply w-full uppercase btn;
  }

  /* PRODUCT DETAIL PAGE */

  /* Product Info */

  .product-content {
    @apply sm:flex;
  }

  .product-detail-page {
    @apply flex flex-col px-3 pt-4 mx-6 mx-auto bg-white max-w-7xl lg:mx-auto;
  }

  .go-back-button {
    @apply flex justify-start mb-6 transition duration-300 ease-in-out hover:text-primary sm:text-xl sm:py-6 lg:py-12 lg:mx-6 xl:mx-0 xl:pt-12 xl:pb-0;
  }

  .product-detail-content {
    @apply w-full sm:flex lg:mx-6 xl:mx-0 xl:py-20;
  }

  .product-detail-image {
    @apply sm:w-1/2;
  }

  .product-detail-img {
    @apply object-cover w-full mx-auto;
  }

  .product-detail-info {
    @apply flex flex-col justify-start w-full text-left sm:ml-10 sm:w-1/2 sm:justify-center lg:ml-0 lg:pl-16;
  }

  .new-product-label {
    @apply mt-6 font-normal text-primary tracking-1em;
  }

  .product-detail-title {
    @apply py-6 text-3xl font-bold tracking-wide text-black lg:w-4/5 xl:text-6xl;
  }

  .product-detail-description {
    @apply mb-6 font-normal text-secondary-darkest sm:w-full sm:m-0 sm:mb-8 lg:m-0 lg:mb-8;
  }

  .product-detail-price {
    @apply tracking-widest font-extrabold text-secondary-black sm:text-xl;
  }

  .detail-add-to-cart {
    @apply flex my-6;
  }

  .detail-quantity {
    @apply m-0 mr-3;
  }

  /* Quantity Selector */
  .quantity-selector {
    @apply bg-secondary-darker h-[2.8rem] w-full max-w-32 overflow-hidden;
  }

  .quantity-button {
    @apply flex-1 py-2 px-4 hover:text-primary;
  }

  .quantity-input {
    @apply w-8 text-center bg-transparent text-black font-semibold;
  }

  .add-to-cart-button {
    @apply btn;
  }

  /* Product Features */

  .features-and-box {
    @apply m-auto xl:flex xl:w-full my-8;
  }

  .features-section {
    @apply lg:mx-6 xl:w-3/5 xl:m-0;
  }

  .features-description {
    @apply mt-6 mb-12 font-normal text-left whitespace-pre-line text-secondary-darkest sm:w-full;
  }

  /* In The Box */

  .in-the-box-section {
    @apply sm:flex lg:mx-6 xl:w-1/2 xl:flex xl:flex-col xl:w-2/5 xl:mx-0 xl:pl-20;
  }

  .in-the-box-title {
    @apply mt-16 mb-6 sm:mt-0 sm:w-1/2 xl:w-full;
  }

  .in-the-box-list {
    @apply sm:w-1/2 xl:w-full;
  }

  .included-items-list {
    @apply font-normal text-left text-secondary-darkest sm:w-4/5 lg:m-0;
  }

  .included-item {
    @apply mt-2;
  }

  .item-quantity {
    @apply mr-6 text-base font-bold text-primary;
  }

  /* Gallery */

  .gallery-section {
    @apply w-full mt-10 lg:px-6 lg:my-20 xl:px-0;
  }

  .gallery-grid {
    @apply flex flex-col sm:grid sm:grid-cols-2;
  }

  .gallery-column {
    @apply flex flex-col gap-4 sm:grid;
  }

  .gallery-image {
    @apply w-full rounded-lg;
  }

  .gallery-large-image {
    @apply mt-4 sm:mt-0 sm:ml-3;
  }

  .gallery-image-large {
    @apply object-cover w-full h-full rounded-lg lg:w-auto;
  }

  /* Suggestions */
  .suggestions-section {
    @apply text-center;
  }

  .suggestions-grid {
    @apply sm:flex;
  }

  .suggestions-section-title {
    @apply mt-24 mb-10 text-2xl text-black uppercase font-semibold;
  }

  .suggestion-item {
    @apply w-auto mx-auto mb-10 rounded-default sm:mx-2;
  }

  .suggestion-image {
    @apply object-cover w-full rounded-default;
  }

  .suggestion-title {
    @apply my-8 text-xl font-bold tracking-widest uppercase text-secondary-black sm:text-2xl;
  }

  /* FOOTER */

  .footer-section {
    @apply px-5 pb-6 bg-secondary-black md:px-10;
  }

  .footer-container {
    @apply mx-auto max-w-7xl;
  }

  .footer-bar {
    @apply w-24 h-1 mx-auto bg-primary md:mx-0;
  }

  .footer-nav {
    @apply xl:flex xl:justify-between xl:items-center xl:mb-6;
  }

  .footer-logo {
    @apply pt-6 m-auto md:m-0;
  }

  .footer-nav-ul {
    @apply pt-6 text-xs font-bold tracking-widest text-white md:mb-6 md:flex mb-12 lg:mb-8 md:gap-6 xl:text-sm;
  }

  .footer-p {
    @apply pb-6 text-secondary-darkest md:text-left md:mb-12 xl:w-3/4 xl:text-lg;
  }

  .footer-desc {
    @apply md:flex md:justify-between;
  }

  .footer-social {
    @apply flex items-center justify-center gap-4 pb-6 md:items-start;
  }

  .footer-social-icon {
    @apply w-6 h-6 transition-opacity duration-300 opacity-100 hover:opacity-0;
  }

  .footer-social-icon-hover {
    @apply absolute top-0 left-0 w-6 h-6 transition-opacity duration-300 opacity-0 hover:opacity-100;
  }

  /* CHECKOUT PAGE */

  .bg-light {
    @apply bg-secondary-light;
  }

  .checkout-page {
    @apply px-4 py-8 mx-auto max-w-7xl;
  }

  .checkout-section {
    @apply xl:flex xl:justify-between xl:w-full;
  }

  .checkout-form-section {
    @apply px-8 py-8 mb-10 text-left bg-white xl:w-2/3 rounded-default;
  }

  .checkout-h1 {
    @apply flex justify-start mb-4 text-3xl font-bold uppercase text-black;
  }

  .checkout-form {
    @apply grid grid-cols-1;
  }

  .billing-details {
    @apply grid gap-4 md:grid-cols-2;
  }

  .checkout-heading {
    @apply my-6 text-lg font-semibold tracking-wide uppercase text-primary;
  }

  .form-label {
    @apply block mb-1 font-bold text-secondary-black;
  }

  .form-input {
    @apply w-full px-2 py-4 border border-gray-400 rounded-default;
  }

  .email {
    @apply md:col-start-2 md:row-start-1;
  }

  .shipping-info {
    @apply grid gap-4 md:grid-cols-2;
  }

  .address {
    @apply md:col-span-2;
  }

  .payment-details {
    @apply grid gap-4 md:grid-cols-2;
  }

  .payment-method {
    @apply md:col-span-1;
  }

  .payment-method-choices {
    @apply space-y-2 md:col-span-1;
  }

  .radio {
    @apply flex items-center space-x-2;
  }

  .payment-method-container {
    @apply flex flex-col sm:flex-row w-full text-center md:col-span-2 md:w-full;
  }

  .COD-icon {
    @apply w-full flex justify-center md:w-1/4;
  }

  .COD {
    @apply w-full flex justify-center;
  }

  .COD-text {
    @apply w-3/4 text-sm text-gray-600 md:col-span-2;
  }

  .summary-section {
    @apply px-8 py-8 bg-white xl:w-full xl:w-1/3 xl:ml-6 rounded-default;
  }

  .summary-title {
    @apply mb-4 text-2xl font-semibold text-left uppercase text-black;
  }

  .summary-list {
    @apply space-y-4;
  }

  .summary-item {
    @apply flex items-start space-x-4;
  }

  .summary-image {
    @apply object-cover w-16 h-16 rounded-default;
  }

  .summary-item-details {
    @apply flex-grow text-left;
  }

  .summary-item-names {
    @apply text-lg font-bold text-secondary-black;
  }

  .summary-item-price {
    @apply text-lg font-semibold tracking-wide text-gray-400;
  }

  .summary-item-quantity {
    @apply flex flex-col items-end;
  }

  .summary-item-quantity-text {
    @apply text-lg font-semibold text-gray-400;
  }

  .summary-totals {
    @apply pt-6 mt-6 space-y-2 text-lg;
  }

  .summary-totals-row {
    @apply flex justify-between;
  }

  .summary-totals-labels {
    @apply text-gray-500 uppercase;
  }

  .summary-totals-price {
    @apply font-bold text-secondary-black;
  }

  .grand-total-row {
    @apply flex justify-between pt-4 mt-4;
  }

  .grand-total-label {
    @apply text-xl font-semibold text-primary;
  }

  .grand-total-amount {
    @apply text-xl font-bold text-primary;
  }

  /* CONFIRMATION MODAL */

  .confirmation-modal {
    @apply fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto bg-black bg-opacity-50;
  }

  .modal-container {
    @apply relative w-full max-w-lg p-6 mx-auto bg-white rounded-lg shadow-xl;
  }

  .thank-you-container {
    @apply text-left mb-10;
  }

  .thank-you-text {
    @apply mb-4 text-3xl font-bold uppercase text-secondary-black;
  }

  .thank-you-description {
    @apply text-lg text-gray-600;
  }

  .summary-container {
    @apply md:flex md:w-full;
  }

  .summary-details {
    @apply p-4 bg-gray-100 rounded-default md:w-1/2 md:h-32;
  }

  .summary-items {
    @apply flex;
  }

  .first-item {
    @apply flex justify-around;
  }

  .item-name-price {
    @apply flex flex-col;
  }

  .summary-items-image {
    @apply w-16 h-16;
  }

  .summary-items-name {
    @apply font-bold text-secondary-black;
  }

  .summary-items-price {
    @apply text-sm font-semibold tracking-widest text-left text-gray-600;
  }

  .summary-items-quantity {
    @apply font-semibold;
  }

  .summary-rest-of-items {
    @apply border-t border-gray-300;
  }

  .summary-rest-of-items-p {
    @apply p-3 text-sm text-gray-600;
  }

  .grand-total-container {
    @apply w-full md:w-1/2;
  }

  .grand-total-bg {
    @apply p-4 mb-6 text-white bg-black rounded-b-default md:rounded-r-default md:rounded-bl-none md:h-32 md:flex md:content-center;
  }

  .grand-total-content {
    @apply flex flex-col flex-wrap content-start justify-start;
  }

  .grand-total-label {
    @apply text-base m-2 uppercase text-[#828282];
  }

  .grand-total-amount {
    @apply text-white tracking-widest text-base font-semibold;
  }

  /* 404 PAGE */

  .not-found-page-section {
    @apply flex flex-col items-center justify-center min-h-screen text-gray-900 bg-gray-100;
  }

  .not-found-h1 {
    @apply text-9xl font-extrabold text-black text-center;
  }

  .not-found-subtitle {
    @apply mb-6 text-secondary-darkest text-2xl;
  }

  .not-found-p {
    @apply text-lg p-14;
  }
}
